<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Marvel Cinematic Universe</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/mvc")
    @Scripts.Render("~/bundles/common")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-expand-md fixed-top bg-dark navbar-dark">
        <nav class="navbar navbar-expand-md brand-wrapper">
            <a href="/">
                <img class="navbar-brand brand-img" src="/Images/logo.jpg" />
            </a>
        </nav>
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item" id="nav-mvc">
                    @Html.ActionLink("MVC", "Index", "Movies", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item" id="nav-mb">
                    <a class="nav-link" href="/Webform/MovieList.aspx">WebForm(Model binding)</a>
                </li>
                <li class="nav-item" id="nav-tr">
                    <a class="nav-link" href="/Webform/Traditional/MovieList.aspx">WebForm(SqlDataSource)</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Marvel Cinematic Universe</p>
        </footer>
    </div>


</body>
</html>
